# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!target/digital-service-1.0.0.jar
.mvn/timing.properties

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Logs
*.log
logs/

# Temp
*.tmp
*.temp

# Spring Boot
application-local.properties
application-dev.properties